/*
 * Generated C++ poll wrapper implementation for {{ model.root_state.name }}.
 *
 * This file is emitted by the built-in `cpp_poll` template and forwards
 * wrapper calls to the generated C poll core. State-machine behavior remains
 * in `machine.c`.
 */

#include "machine.hpp"

namespace pyfcstm_generated {
namespace {{ machine_class_name(model) }}_cpp_poll {

MachineWrapper::MachineWrapper() {
    // C++98 constructors cannot report an init status; call init() when
    // failure handling matters.
    (void){{ machine_class_name(model) }}_init(&machine_);
}

int MachineWrapper::init() {
    return {{ machine_class_name(model) }}_init(&machine_);
}

int MachineWrapper::hot_start(StateId state_id, const Vars &initial_vars) {
    return {{ machine_class_name(model) }}_hot_start(
        &machine_,
        state_id,
        &initial_vars);
}

int MachineWrapper::hot_start(StateId state_id, const Vars *initial_vars) {
    return {{ machine_class_name(model) }}_hot_start(
        &machine_,
        state_id,
        initial_vars);
}

void MachineWrapper::set_hooks(const Hooks *hooks, void *user_data) {
    {{ machine_class_name(model) }}_set_hooks(&machine_, hooks, user_data);
}

void MachineWrapper::set_event_checks(
    const EventChecks *event_checks,
    void *user_data) {
    {{ machine_class_name(model) }}_set_event_checks(
        &machine_,
        event_checks,
        user_data);
}

int MachineWrapper::cycle() {
    return {{ machine_class_name(model) }}_cycle(&machine_);
}

const MachineWrapper::Vars *MachineWrapper::vars() const {
    return {{ machine_class_name(model) }}_vars(&machine_);
}

int MachineWrapper::is_ended() const {
    return {{ machine_class_name(model) }}_is_ended(&machine_);
}

bool MachineWrapper::last_cycle_was_delta() const {
    return {{ machine_class_name(model) }}_last_cycle_was_delta(&machine_) != 0;
}

MachineWrapper::StateId MachineWrapper::current_state_id() const {
    return {{ machine_class_name(model) }}_current_state_id(&machine_);
}

const char *MachineWrapper::current_state_path() const {
    return {{ machine_class_name(model) }}_current_state_path(&machine_);
}

const char *MachineWrapper::last_error() const {
    return {{ machine_class_name(model) }}_last_error(&machine_);
}

MachineWrapper::Machine *MachineWrapper::native_handle() {
    return &machine_;
}

const MachineWrapper::Machine *MachineWrapper::native_handle() const {
    return &machine_;
}

}  // namespace {{ machine_class_name(model) }}_cpp_poll
}  // namespace pyfcstm_generated
